In [1]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 8891, done.
remote: Counting objects: 100% (8891/8891), done.
remote: Compressing objects: 100% (7400/7400), done.
remote: Total 8891 (delta 2789), reused 7257 (delta 1170), pack-reused 0
Receiving objects: 100% (8891/8891), 2.30 MiB | 8.38 MiB/s, done.
Resolving deltas: 100% (2789/2789), done.

In [2]:
import json
import os
import pandas as pd

In [ ]:
path1="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path1)
Agg_state_list

#Agg_state_list (extract state)

In [4]:
clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i1=path1+i+"/"
    Agg_yr=os.listdir(p_i1)
    #Agg_yr(extract year)
    for j in Agg_yr:
      p_j1=p_i1+j+"/"
      Agg_yr_list=os.listdir(p_j1)
      #Agg_yr_list(extract json)
      for k in Agg_yr_list:
          p_k=p_j1+k
          data1=open(p_k,'r')
          d1=json.load(data1)
          #d(load the data json file and store in the variable d)
          for z in d1['data']['transactionData']:
            Name=z['name']
            count=z['paymentInstruments'][0]['count']
            amount=z['paymentInstruments'][0]['amount']
            clm['Transaction_type'].append(Name)
            clm['Transaction_count'].append(count)
            clm['Transaction_amount'].append(amount)
            clm['State'].append(i)
            clm['Year'].append(j)
            clm['Quarter'].append(int(k.strip('.json')))


agg_trans_dataframe=pd.DataFrame(clm)

In [ ]:
agg_trans_dataframe

In [ ]:
agg_trans_dataframe.to_csv('agg_trans_dataframe.csv',index=False)

In [ ]:
import os
import json
path2='/content/pulse/data/aggregated/user/country/india/state/'
agg_state_list2=os.listdir(path2)
agg_state_list2
#agg_state_list2(extract state name)

In [7]:
clm={'State':[], 'Year':[],'Quarter':[],'Brands':[],'count':[],'Percentage':[]}
for i in agg_state_list2:
    p_i2=path2+i+"/"
    agg_yr2=os.listdir(p_i2)   #agg_yr2(extract year)
    for j in agg_yr2:
      p_j2=p_i2+j+"/"
      agg_year_list=os.listdir(p_j2) #agg_year_list(extract json file)
      for k in agg_year_list:
        p_k2=p_j2+k
        data1=open(p_k2,'r')
        d2=json.load(data1)
        try:
          for z in d2['data']['usersByDevice']:
            Brand=z['brand']
            count=z['count']
            Percentage=z['percentage']
            clm['Brands'].append(Brand)
            clm['count'].append(count)
            clm['Percentage'].append(Percentage)
            clm['State'].append(i)
            clm['Year'].append(j)
            clm['Quarter'].append(int(k.strip('.json')))
        except:
          pass

In [8]:
agg_user_dataframe=pd.DataFrame(clm)

In [ ]:
agg_user_dataframe.to_csv('agg_user_dataframe.csv',index=False)

In [ ]:
import os
import json
import pandas as pd
path3="/content/pulse/data/map/transaction/hover/country/india/state/"
map_state_list=os.listdir(path3)
map_state_list #extract state list

In [10]:
clm={'State':[], 'Year':[],'Quarter':[],'District':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in map_state_list:
  p_i3=path3+i+'/'
  map_year=os.listdir(p_i3) #extract year
  for j in map_year:
    p_j3=p_i3+j+"/"
    map_year_list=os.listdir(p_j3)
    for k in map_year_list:
      p_k3=p_j3+k
      data3=open(p_k3,'r')
      d3=json.load(data3)
      for z in d3['data']['hoverDataList']:
        name=z['name']
        count=z['metric'][0]['count']
        amount=z['metric'][0]['amount']
        clm['District'].append(name)
        clm['Transaction_count'].append(count)
        clm['Transaction_amount'].append(amount)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))


map_trans_dataframe=pd.DataFrame(clm)

In [11]:
map_trans_dataframe.to_csv('map_trans_dataframe.csv',index=False)

In [12]:
map_trans_dataframe

,State,Year,Quarter,District,Transaction_count,Transaction_amount
0,manipur,2018,3,kangpokpi district,9151,2.793740e+07
1,manipur,2018,3,noney district,1636,3.959454e+06
2,manipur,2018,3,imphal east district,60511,8.960572e+07
3,manipur,2018,3,thoubal district,19399,3.409275e+07
4,manipur,2018,3,kakching district,4590,9.968419e+06
...,...,...,...,...,...,...
16095,tripura,2021,4,north tripura district,255959,5.900889e+08
16096,tripura,2021,4,dhalai district,194907,4.480391e+08
16097,tripura,2021,4,south tripura district,219422,5.607352e+08
16098,tripura,2021,4,gomati district,200196,4.544928e+08
16099,tripura,2021,4,west tripura district,1174499,2.328859e+09

In [ ]:
import os
import json
import pandas as pd
path4="/content/pulse/data/map/user/hover/country/india/state/"
map_state_list=os.listdir(path4)
map_state_list #extract state from the path

In [ ]:
clm={"State": [], "Year": [], "Quarter": [], "District": [], "RegisteredUser": [], "AppOpens": []}
for i in map_state_list:
  p_i4=path4+i+"/"
  map_year_list4=os.listdir(p_i4) #extract year from the path
  for j in map_year_list4:
    p_j4=p_i4+j+'/'
    map_year_list4=os.listdir(p_j4) #extract json
    for k in map_year_list4:
      p_k4=p_j4+k
      data4=open(p_k4,'r')
      d4=json.load(data4)
      for z in d4['data']['hoverData'].items():
        district=z[0]
        registeredusers=z[1]['registeredUsers']
        appopens=z[1]['appOpens']
        clm['District'].append(district)
        clm['RegisteredUser'].append(registeredusers)
        clm['AppOpens'].append(appopens)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))

map_user_dataframe=pd.DataFrame(clm)

In [ ]:
map_user_dataframe.to_csv('map_user_dataframe.csv',index=False)

In [ ]:
d4

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverData': {'unakoti district': {'registeredUsers': 29889,
    'appOpens': 634226},
   'khowai district': {'registeredUsers': 34253, 'appOpens': 544839},
   'sepahijala district': {'registeredUsers': 58818, 'appOpens': 1066335},
   'north tripura district': {'registeredUsers': 55009, 'appOpens': 1244208},
   'dhalai district': {'registeredUsers': 43705, 'appOpens': 934219},
   'south tripura district': {'registeredUsers': 58777, 'appOpens': 1049428},
   'gomati district': {'registeredUsers': 49981, 'appOpens': 947324},
   'west tripura district': {'registeredUsers': 215860, 'appOpens': 4308123}}},
 'responseTimestamp': 1643295743588}

In [ ]:
map_user_dataframe

In [ ]:
import os
import pandas as pd
import json
path5='/content/pulse/data/top/transaction/country/india/state/'
top_state_list=os.listdir(path5) #extract state
top_state_list

In [ ]:
clm={'State':[],'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],'Transaction_amount': []}
for i in top_state_list:
  p_i5=path5+i+'/'
  top_user=os.listdir(p_i5) #extract year
  for j in top_user:
    p_j5=p_i5+j+"/"
    top_year_list=os.listdir(p_j5) #extract json
    for k in top_year_list:
      p_k5=p_j5+k
      data5=open(p_k5,'r')
      d5=json.load(data5)
      for z in d5['data']['pincodes']:
        pincode=z['entityName']
        transaction_count=z['metric']['count']
        transaction_amount=z['metric']['amount']
        clm['Pincode'].append(pincode)
        clm['Transaction_count'].append(transaction_count)
        clm['Transaction_amount'].append(transaction_amount)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))


top_trans_dataframe=pd.DataFrame(clm)

In [ ]:
top_trans_dataframe.to_csv('top_trans_dataframe.csv',index=False)

In [ ]:
d5

In [ ]:
top_trans_dataframe

        State  Year  Quarter Pincode  Transaction_count  Transaction_amount
0     manipur  2018        3  795008              22448        1.577836e+07
1     manipur  2018        3  795004              22196        6.168166e+07
2     manipur  2018        3  795001              15883        3.127120e+07
3     manipur  2018        3  795138              10525        2.044351e+07
4     manipur  2018        3  795133               8504        1.263127e+07
...       ...   ...      ...     ...                ...                 ...
7848  tripura  2021        4  799007              70960        1.399504e+08
7849  tripura  2021        4  799114              64040        1.452949e+08
7850  tripura  2021        4  799004              60088        1.233387e+08
7851  tripura  2021        4  799250              57697        1.384742e+08
7852  tripura  2021        4  799005              54415        9.047443e+07

[7853 rows x 6 columns]

In [ ]:
import pandas as pd
import os
import json
path6="/content/pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path6)
top_state_list

In [ ]:
clm={'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],'RegisteredUsers': []}
for i in top_state_list:
  p_i6=path6+i+"/"
  top_year=os.listdir(p_i6)
  for j in top_year:
    p_j6=p_i6+j+"/"
    top_year_list=os.listdir(p_j6)
    for k in top_year_list:
      p_k6=p_j6+k
      data6=open(p_k6,'r')
      d6=json.load(data6)
      for z in d6['data']['pincodes']:
          name=z['name']
          registeredusers=z['registeredUsers']
          clm['Pincode'].append(name)
          clm['RegisteredUsers'].append(registeredusers)
          clm['State'].append(i)
          clm['Year'].append(j)
          clm['Quarter'].append(int(k.strip('.json')))


top_user_dataframe=pd.DataFrame(clm)

In [ ]:
top_user_dataframe.to_csv("top_user_dataframe.csv",index=False)

In [ ]:
top_user_dataframe